<!-- update.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Record</title>
</head>
<body>
    <h1>Update Record</h1>
    <form action="/update/<%= record.id %>?_method=PUT" method="POST">
        <label for="id">ID:</label>
        <input type="text" id="id" name="id" value="<%= record.id %>" required><br><br>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="<%= record.name %>" required><br><br>
        <!-- Other input fields for age, email, etc. -->
        <button type="submit">Update Record</button>
      </form>
</body>
</html>